.nav__contents{
    display: flex;
    justify-content: space-between;
}
.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
}

.nav__black{
    background-color: black;
}

.nav__logo{
    position: fixed;
    top: 10px;
    left: 25px;
    width: 90px;
    object-fit: contain;
    cursor: pointer;
}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}