.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 500;
  border-bottom: 1px solid #2b2c2d;
}

.profileScreen__info {
  display: flex;
  margin-top: 8%;
}

.profileScreen__info > img {
  height: 100px;
}

.profileScreen__details {
  color: #fff;
  margin-left: 25px;
  width: 100%;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__plans > button {
  padding: 10px 40px;
  font-size: 1rem;
  margin-top: 5%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  width: 100%;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
